<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>

    <h1>Hello, Vue</h1>

    <div id="app">
        <div v-if="showBooks">

            <a v-bind:href="url">Google</a>

            <p>
                <!-- {{books[0].title}} - {{books[0].author}} -->
                <ul>
                    <div v-for="item in books" :class={fav: item.isFav}>
                        <img :src="item.img" :alt="item.title">
                        <h3> {{item.title}} </h3>
                        <p> {{item.author}} </p>
                    </div>
                </ul>
            </p>

        </div>


        <button @click="toogleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Open Books</span>
        </button>

        <div v-show="showBooks">Currently Showing Books</div>


    </div>
    <script src="app.js"></script>
</body>

</html>